# Binaries
bin/rpi-ci-lamp
bin/test_lamp_io_red_green
test/test_response_parser
test/test_settings_parser
test/test_lamp_control_red_green
test/test_lamp_io_red_green
test/test_application
test/test_system

# generated symlinks
test/data/settings.conf
test/data/master
test/data/dev

# Coverage files
output
coverage.info
*.gcda
*.gcno

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
